<table role="presentation" class="w100 body-color" border="0" cellspacing="0" cellpadding="0" align="center" valign="middle">
  <tr>
    <td width="600" valign="top" class="w100" align="center">
      The design of this email is based on the great <a href="https://bonilista.com">La Bonilista</a>. They kindly shared their template on <a href="https://github.com/bonilista/bonilista-template">GitHub</a>.
    </td>
  </tr>
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td width="600" valign="top" class="w100" align="center">
      <span>© 2022 — *|CURRENT_YEAR|*
        <strong>Fran M&eacute;ndez</strong>,
      <br>
        All rights reserved.
      </span>      
    </td>
  </tr>
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td>
      <table width="320" valign="top" align="center" style="width: 320px; padding-left: 16px; padding-right: 16px;">
        <tr>
          <td width="30">
            <img src="/assets/images/icon-pin.png" width="22" height="29" alt="" style="display: block;" class="hide-dark">
            <img src="/assets/images/icon-pin-dark.png" width="22" height="29" alt="" style="display: none;" class="show-dark">
          </td>
          <td align="center">
            <span style="text-align: left;">
              Av. Joaquín Costa, 16
              <br>
              <strong>Espacio Convento Coworking Space</strong> — 06001 Badajoz (Spain)
            </span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>