<table role="presentation" class="w100 body-color" border="0" cellspacing="0" cellpadding="0" align="center" valign="middle">
  <tr>
    <td align="center">
      <img src="/assets/images/isologo.png" width="240" height="155" alt="La Bonilista - Experiencias de alguien completamente normal para gente muy especial" style="display: block; margin: auto;" class="hide-dark"/>
      <img src="/assets/images/isologo-dark.png" width="240" height="155" alt="La Bonilista - Experiencias de alguien completamente normal para gente muy especial" style="display: none; margin: auto;" class="show-dark"/>
    </td>
  </tr>
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td width="600" valign="top" class="w100" align="center">
      <span>© 2011 — *|CURRENT_YEAR|*
        <strong>Bonillaware SLU</strong>,
      <br>
        Todos los derechos reservados.
      </span>      
    </td>
  </tr>
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td>
      <table width="320" valign="top" align="center" style="width: 320px; padding-left: 16px; padding-right: 16px;">
        <tr>
          <td width="30">
            <img src="/assets/images/icon-pin.png" width="22" height="29" alt="" style="display: block;" class="hide-dark">
            <img src="/assets/images/icon-pin-dark.png" width="22" height="29" alt="" style="display: none;" class="show-dark">
          </td>
          <td align="center">
            <span style="text-align: left;">
              Paseo de la Castellana 194,
              <br>
              <strong>CINK COWORKING</strong> — 28046 Madrid (SPAIN)
            </span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>