<table role="presentation" width="720" class="w100 body-color" border="0" cellspacing="0" cellpadding="0" align="center" valign="middle">
  <tr>
    <td height="1" bgcolor="#CECFC2"></td>
  </tr>
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td valign="middle" align="center">
      <span class="mobile-column" style="display:inline-block; margin-right: 15px; margin-left: 15px;">
        <img src="/assets/images/hugo.png" width="207" height="40" alt="La Bonilista - Experiencias de alguien completamente normal para gente muy especial" style="display: block; margin: auto;" class="hide-dark"/>
        <img src="/assets/images/hugo-dark.png" width="207" height="40" alt="La Bonilista - Experiencias de alguien completamente normal para gente muy especial" style="display: none; margin: auto;" class="show-dark"/>
      </span>
      <span class="mobile-column" style="display:inline-block; text-transform: uppercase; vertical-align: top; text-align: left; font-size: 0.8125em; line-height: 1.25;">
        Ilustraciones originales de <a href="https://twitter.com/HugoTobio" target="_blank">Hugo Tobio</a>,
        <br>
        tarugo y dibujolari profesional de Bilbao.      
      </span>
    </td>
    
  </tr>
  <tr>
    <td height="60"></td>
  </tr>
</table>