<table role="presentation" width="600" class="w100" border="0" cellspacing="0" cellpadding="0" align="center" valign="middle">
  
  <tr>
    <td width="600" class="w100" align="center">
      <table role="presentation" width="145" class="w50" border="0" cellspacing="0" cellpadding="0" align="left" valign="middle" style="width: 145px;">
        <tr>
          <td align="center" style="padding: 10px;">
            <a href="https://bonillaware.com/contacto" style="text-align: center; line-height: 1.25;">
              <img src="/assets/images/icon-email.png" width="41" height="41" alt="" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 5px;" class="hide-dark">
              <img src="/assets/images/icon-email-dark.png" width="41" height="41" alt="" style="display: none; margin-left: auto; margin-right: auto; margin-bottom: 5px;" class="show-dark">
              <span>Contacta<br />conmigo</span>
            </a>
          </td>
        </tr>
      </table>
      <table role="presentation" width="145" class="w50" border="0" cellspacing="0" cellpadding="0" align="left" valign="middle" style="width: 145px;">
        <tr>
          <td align="center" style="padding: 10px;">
            <a href="https://bonillaware.com/politica-de-privacidad" style="text-align: center; line-height: 1.25;">
              <img src="/assets/images/icon-privacy.png" width="41" height="41" alt="" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 5px;" class="hide-dark">
              <img src="/assets/images/icon-privacy-dark.png" width="41" height="41" alt="" style="display: none; margin-left: auto; margin-right: auto; margin-bottom: 5px;" class="show-dark">
              <span>Política de<br />privacidad</span>
            </a>
          </td>
        </tr>
      </table>
      <table role="presentation" width="145" class="w50" border="0" cellspacing="0" cellpadding="0" align="left" valign="middle" style="width: 145px;">
        <tr>
          <td align="center" style="padding: 10px;">
            <a href="*|UPDATE_PROFILE|*" style="text-align: center; line-height: 1.25;">
              <img src="/assets/images/icon-settings.png" width="41" height="41" alt="" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 5px;" class="hide-dark">
              <img src="/assets/images/icon-settings-dark.png" width="41" height="41" alt="" style="display: none; margin-left: auto; margin-right: auto; margin-bottom: 5px;" class="show-dark">
              <span>Gestiona tu<br />suscripción</span>
            </a>
          </td>
        </tr>
      </table>
      <table role="presentation" width="145" class="w50" border="0" cellspacing="0" cellpadding="0" align="left" valign="middle" style="width: 145px;">
        <tr>
          <td align="center" style="padding: 10px;">
            <a href="*|UNSUB|*" style="text-align: center; line-height: 1.25;">
              <img src="/assets/images/icon-cancel.png" width="41" height="41" alt="" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 5px;" class="hide-dark">
              <img src="/assets/images/icon-cancel-dark.png" width="41" height="41" alt="" style="display: none; margin-left: auto; margin-right: auto; margin-bottom: 5px;" class="show-dark">
              <span>Cancela tu<br />suscripción</span>
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="80"></td>
  </tr>
</table>