<table
  role="presentation"
  width="600"
  class="w100"
  border="0"
  cellspacing="0"
  cellpadding="0"
  valign="middle"
  bgcolor="#0A5E68">
  <tr>
    <td width="600" class="w100" valign="middle">
      <table
        role="presentation"
        width="180"
        align="left"
        class="w100 center"
        border="0"
        cellspacing="0"
        cellpadding="0"
        valign="middle">
        <tr>
          <td valign="middle" style="padding: 10px;">
            <a href="*|SHARELINK:twitter|*" style="display: inline-block; margin: 0 5px 0 0; vertical-align: middle;">
              <img src="/assets/images/footer-twitter.png" width="32" alt="Twitter">
            </a>
            <a href="*|SHARELINK:linkedin|*" style="display: inline-block; margin: 0 5px 0 0; vertical-align: middle;">
              <img src="/assets/images/footer-linkedin.png" width="32" alt="Linkedin">
            </a>
            <a href="*|SHARELINK:facebook|*" style="display: inline-block; margin: 0 5px 0 0; vertical-align: middle;">
              <img src="/assets/images/footer-facebook.png" width="32" alt="Facebook">
            </a>
            <a href="*|SHARELINK:reddit|*" style="display: inline-block; margin: 0; vertical-align: middle;">
              <img src="/assets/images/footer-reddit.png" width="32" alt="Reddit">
            </a>
          </td>
        </tr>
      </table>
      <table
        role="presentation"
        width="400"
        align="left"
        class="w100 center"
        border="0"
        cellspacing="0"
        cellpadding="0"
        valign="middle"
        bgcolor="#0A5E68">
        <tr>
          <td style="font-size: 0.75em; color: #FFF; padding: 10px;">
            <span>
              <strong>*|LIST:SUBSCRIBERS|* tarugos</strong>
              han recibido esta Bonilista.</span>
            <br>
            <span>
              <strong>¿Te ha gustado?</strong>
              Ayúdanos a que llegue a más gente.</span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>