<tr>
  <td width="720" valign="top" class="w100">
    <table role="presentation" width="720" border="0" cellspacing="0" cellpadding="0" class="w100 article__body">
      <tr>
        <td height="40"></td>
      </tr>
      <tr mc:repeatable="true">
        <td mc:edit="article_top">
          <p>There are multiple ways to manage an open-source project. At AsyncAPI, we chose the Open Governance model for many good reasons that Lukasz Gornicki explained in his article&nbsp;<a href="https://www.asyncapi.com/blog/governance-motivation" rel="noopener noreferrer" target="_blank">Finding a Good Open Governance Model for AsyncAPI</a>.</p>

          <p>However, there&#39;s more than&nbsp;<em>&quot;just&quot;</em>&nbsp;doing Open Governance.&nbsp;<strong>If something can&#39;t easily be found, then it&#39;s not really transparent and, therefore, not truly open.</strong>&nbsp;We not only chose Open Governance but&nbsp;<em>Radical Transparency</em>.</p>

          <h2>What is Radical Transparency?</h2>

          <blockquote>
          <p><strong>radical</strong>&nbsp;/ˈradɪk(ə)l/</p>

          <p>(especially of change or action) relating to or affecting the fundamental nature of something; far-reaching or thorough.&nbsp;<strong>Forming an inherent or fundamental part of the nature of someone or something.</strong></p>
          </blockquote>

          <blockquote>
          <p><strong>transparency</strong>&nbsp;/tranˈsparənsi,trɑːnˈsparənsi/</p>

          <p>(of an organization or its activities) the condition of being&nbsp;<strong>open to public scrutiny</strong>.</p>
          </blockquote>

          <p>Radical transparency is about doing every single thing in public. It&#39;s about empowering the community with the necessary tools and information to scrutinize everything we do.</p>

          <h2 id="what-does-it-mean-for-me-as-the-executive-director">What does it mean for me as the Executive Director?</h2>

          <p>Believe it or not, it&#39;s relieving. Most people &mdash;including myself in the past&mdash; would have been scared of letting so much power go and opt for radical transparency.</p>

          <p>I often get a lot of pressure from different companies to do something for them. Here are some examples:</p>

          <ul>
            <li>Invite someone to the TSC in exchange for a&nbsp;<a href="https://opencollective.com/asyncapi/contribute/platinum-sponsors-8119" rel="noopener noreferrer" target="_blank">Platinum Sponsorship</a>.</li>
            <li>Exchange logos on our websites. Oh my! It just happened as I&#39;m writing these lines 😂</li>
            <li>Donate some money only if they get &quot;something&quot; in return. These people don&#39;t get open-source, do they? 😄</li>
          </ul>

          <p>So Radical Transparency is actually making things easier for me. I just have to say something like this:</p>

          <blockquote>
          <p>I&#39;m sorry, but I can&#39;t do what you&#39;re suggesting. If you&#39;re still interested in a similar deal, please head over to&nbsp;<a href="https://www.github.com/asyncapi/community" rel="noopener noreferrer" target="_blank">https://www.github.com/asyncapi/community</a>&nbsp;and open an issue with your proposal. We can happily discuss it there.</p>
          </blockquote>

          <p>All of a sudden, it&#39;s not just my responsibility. It&#39;s&nbsp;<a href="https://www.asyncapi.com/community/tsc" rel="noopener noreferrer" target="_blank">the TSC</a>&nbsp;who gets to decide if their proposal moves forward or doesn&#39;t. This makes the TSC (including myself) accountable for the decision. And most important, it&#39;s all registered and accessible to anyone in the community to scrutinize.</p>

          <p>Radical Transparency is removing all these trouble-makers for me. Whoever is truly interested in making a honest proposal, will also suggest it publicly. This system allows me to get rid of those whose interest is not making the project better and are only seeking profit. And, so far, these people stand for 100% of the cases.</p>

          <p>Of course, I&#39;m still happy to take private calls and emails when they make sense. E.g. they contain sensitive information, you don&#39;t speak English, you&#39;re shy to propose things in public, they&#39;re not related to AsyncAPI, etc.</p>

          <h2 id="what-does-it-mean-for-the-community">What does it mean for the community?</h2>

          <p>Whether you are a user, a contributor, or a code owner, everyone must make decisions in public. For code, we use pull requests. Use issues or discussions on the related repo when it&#39;s something else. And, if there&#39;s no related repo, use&nbsp;<a href="https://www.github.com/asyncapi/community" rel="noopener noreferrer" target="_blank">the community one</a>.</p>

          <p>Whatever we do, needs to have its associated public record. That doesn&#39;t mean we don&#39;t do video calls to discuss complex topics. We actually encourage them when the writing form is not enough or too difficult. We never take decisions on meetings because that would be leaving many people out. E.g., those in other time zones, having other meetings at the same time, those on holidays or sick, etc. In any case, whatever is discussed in the meetings should be reflected in its correspondent issue or discussion on Github.</p>

          <p>Of course, the &quot;downside&quot; of this is that the whole process becomes slower and more bureaucratic, but I don&#39;t think it&#39;s really a downside but a feature. By doing this, we make sure to behave as a community, as a group, as a huge team. And you don&#39;t want to leave any teammate out, right? It&#39;s a matter of respect, after all.</p>

          <h2 id="challenge-us">Challenge us!</h2>

          <p>That said, we&#39;re always looking for ways to improve. We&#39;re already radically transparent, but I&#39;m sure we can improve some things. So here&#39;s a challenge for you, find something we&#39;re not doing transparently enough and let us know. Or, even better, join us to improve it!</p>

          <p>What&#39;s your take on this? I&#39;m happy to read you. Hit reply and let me know what you think.</p>
        </td>
      </tr>
    </table>
  </td>
</tr>