<tr>
  <td width="720" valign="top" class="w100">
    <table role="presentation" width="720" border="0" cellspacing="0" cellpadding="0" class="w100 article__body">
      <tr>
        <td height="40"></td>
      </tr>
      <tr>
        <td mc:edit="article_top">
          <p>Las últimas dos semanas, el mundillo tecnológico no ha dejado de especular sobre lo que ha podido pasar en OpenAI —la
            empresa detrás de ChatGPT— para que su Consejo echara al CEO en contra de la opinión de la mayoría de los accionistas,
            que exigieron la vuelta del mismo.</p>
          <p>En vez de hilar el enésimo artículo de puro chismorreo, intentando elucubrar por qué ha pasado todo esto, a mi me
            parece más interesante explicar cómo ha pasado. El sistema que lo permite. Porque
            <strong>CUATRO años después de vender mi compañía</strong>, mi madre aún sigue sin entender cómo es posible que siga
              trabajando allí e incluso sea el máximo responsable; y... sospecho que no es la única.</p>
          <p>Y es que, aunque no lo sepan porque nunca se lo han planteado,
            <strong>muchísimos profesionales tendrían verdaderos problemas para explicar las diferentes responsabilidades que tienen
              los dueños de una empresa, su órgano de administración y sus ejecutivos</strong>. Ojalá este texto consiga que sean mucho menos.</p>
        </td>
      </tr>
      <tr mc:hideable="true">
        <td>
          {% include "../content_body/article_quote.njk" %}
        </td>
      </tr>
      <tr>
        <td mc:edit="article_middle">
          <p>Lo primero que nos tiene que quedar claro es que
            <strong>los verdaderos «jefes» de una empresa —los que más mandan— son sus dueños</strong>, aunque las sucesivas capas de gestión puedan dificultar que lo advirtamos.</p>
          <p>Y estos dueños toman decisiones —que se adoptan por mayoría— en la Junta de Socios. Como, por ejemplo,
            <strong>determinar los estatutos que regirán el funcionamiento de la compañía o el nombramiento y cese de los
              administradores que la gestionarán</strong>.</p>
        </td>
      </tr>
      <tr>
        <td>
          {% include "../content_body/article_image.njk" %}
        </td>
      </tr>
      <tr>
        <td mc:edit="article_middle_2">
          <p>Porque, el hecho de que seas socio de una empresa no implica que quieras involucrarte en la gestión de la misma. Y,
            aunque quisieras, involucrar a todos los socios en cada toma de decisiones sería absolutamente inoperativo ¿Os imagináis
            que Telefónica tuviera que convocar una Junta de Socios cada vez que decidiera subir otra vez el precio de Movistar+? ¿O
            que el Asador Paco, que heredaron todos los hijos de Paco, tuviera que reunir a la familia —incluida Manuela, que
            trabaja como ingeniera en San Francisco— cada vez que decidieran cambiar de proveedor de carne o arreglar el baño?</p>
          <p>Nadie va a prisión porque una empresa pierda dinero, pero si el Consejo no se asegura de que cumplir escrupulosamente
            sus obligaciones legales o no puede demostrar que todas sus actuaciones están dirigidas —en última instancia— a procurar
            el beneficio de los socios, estaría incumpliendo sus funciones, podría ser acusado de «administración desleal» y sus
            miembros tener un serio problema. Solo en España podemos encontrar varios casos sonados.</p>
        </td>
      </tr>
      <tr mc:hideable="true">
        <td>
          {% include "../content_body/article_quote_2.njk" %}
        </td>
      </tr>
      <tr>
        <td mc:edit="article_middle_3">
          <p>En 2014, la empresa Gowex, especializada en servicios de Wi-Fi, se vio envuelta en un escándalo financiero. La
            empresa admitió que sus informes financieros eran falsos y que el 90% de sus ingresos y
            <strong>beneficios informados eran inexistentes</strong>. Ante esta revelación, la cotización de las acciones de Gowex
              se desplomó y la empresa entró en quiebra. Jenaro García, CEO de Gowex, fue arrestado y posteriormente enfrentó cargos
              por delitos como estafa, falseamiento de cuentas y apropiación indebida. Además de las consecuencias penales, también se
              abrió una investigación sobre la gestión de la empresa y
            <a href="#">la posible responsabilidad civil de los miembros del Consejo de Administración</a>.</p>
          <h2>Las «Tarjetas Black» en la banca de España</h2>
          <p>También en 2014 se hizo público que, entre 2003 y 2012, consejeros y directivos de Caja Madrid y de Bankia
            dispusieron de tarjetas de crédito de empresa —denominadas «Tarjetas Black»— a las que cargaron gastos personales por
            valor de 15,5 millones de euros. La cantidad era irrisoria dentro del enorme presupuesto de la entidad bancaria, pero
            las tarjetas se usaron al margen de sueldos y gastos de representación y con ellas se pagaron restaurantes, viajes y
            ropa sin relación alguna con la actividad de la empresa. Cuatro años más tarde, 64 altos cargos fueron condenados a
            <a href="#">penas de cárcel que iban desde los 3 meses a 4 años y medio</a>.</p>
          <p>Pero no tenemos que remontarnos tanto en el tiempo ni buscar casos tan extremos. Hace dos días —este mismo viernes—
            la Audiencia Nacional confirmó la multa de
            <strong>15.000€</strong>
            a los miembros de la comisión de auditoría del consejo de la constructora OHL por
            <a href="#">incluir datos inexactos en las cuentas del ejercicio 2018</a>, aunque anuló la del consejero delegado.</p>
          <p>Como empleado —por muy alto directivo que seas— excepto que hagas algo ilegal, si no cumples con tus obligaciones lo
            peor que te puede pasar es que te despidan. Como administrador, si no cumples con tus obligaciones puedes asumir
            consecuencias mucho más graves. Así que, mamá… ya ves que puedes ser administrador de una empresa sin ser el propietario
            de la mayoría de sus participaciones, puedes ser el principal ejecutivo sin tener que ser administrador o socio; y
            también puedes serlo todo a la vez —como me pasaba a mí en Manfred— y, después de vender la empresa, permanecer como CEO
            y empleado, aunque ya no seas ni socio ni administrador.</p>
        </td>
      </tr>
      <tr mc:hideable="true">
        <td>
          {% include "../content_body/article_sponsor.njk" %}
        </td>
      </tr>
      <tr mc:hideable="true">
        <td>
          {% include "../content_body/article_offer.njk" %}
        </td>
      </tr>
      <tr>
        <td mc:edit="article_bottom">
          <h2>Epílogo: el «Consejo» de OpenAI</h2>
          <p>
            Con todas las diferencias legales que hay entre el régimen jurídico español y el estadounidense ¿qué pudo ver el consejo
            de OpenAI como para considerar que la mejor forma de cumplir su responsabilidad de velar por los intereses de la
            compañía era despedir fulminantemente a su CEO? Ni idea. La verdad es que las formas fueron inusualmente duras para lo
            acostumbrado en este tipo de circunstancias, porque por mucho que te la haya liado alguien, al accionista no le
            beneficia en absoluto que se filtre que el CEO no ha sido completamente sincero con el consejo de administración…
            excepto que anticipes un escándalo público de proporciones épicas y quieras alejarte lo más posible del mismo.
          </p>
          <p>
            Hasta los inversores en la subsidiara creada para explotar comercialmente las investigaciones de OpenAI amenazaron con
            demandar al consejo por «hacerles perder cientos de millones de dólares» con la marcha de la plantilla. Pero ¿no se
            suponía que esos inversores sabían y aceptaban que estaban invirtiendo en una compañía controlada por una fundación cuyo
            principal objetivo no era obtener beneficios económicos? ¿Hasta qué punto son fieles a la misión original unos empleados
            que tienen acciones en comparten los beneficios de la empresa que explota comercialmente su trabajo? ¿Quiénes son los
            verdaderos dueños de OpenAI?
          </p>
          <p>
            Puede que algún día tengamos información suficiente para poder contestar todas estas preguntas, pero hoy me daría por
            satisfecho si mi madre —y cualquier otra persona que lea este texto— por fin entiende la diferencia legal entre poseer,
            administrar y dirigir una empresa.
          </p>
          <h3>Y para terminar, unas listas que podrán interesarte</h3>
          <ol>
            <li>Definir planes de carrera personales y personalizados. Una serie de objetivos fácilmente medibles y reproducibles</li>
            <li>Ofrecer un salario suficiente para que la gente pueda cuidar de sí misma</li>
            <li>Comprobar cada cierto tiempo si ha crecido o se ha estancado</li>
          </ol>
          <ul>
            <li>Definir planes de carrera personales y personalizados. Una serie de objetivos fácilmente medibles y reproducibles</li>
            <li>Ofrecer un salario suficiente para que la gente pueda cuidar de sí misma</li>
            <li>Comprobar cada cierto tiempo si ha crecido o se ha estancado</li>
          </ul>
        </td>
      </tr>
    </table>
  </td>
</tr>