<table
  role="presentation"
  mc:hideable="true"
  width="752"
  border="0"
  cellspacing="0"
  cellpadding="0"
  class="w100"
  style="padding-left: 16px; padding-right: 16px;">
  <tr>
    <td>
      <table
        role="presentation"
        width="720"
        border="0"
        cellspacing="0"
        cellpadding="0"
        class="w100 share"
        bgcolor="#FDFFF2"
        align="center"
        style="border: 1px solid #CECFC2; border-radius: 16px; text-align: center;">
        <tr>
          <td>
            <table
              role="presentation"
              width="720"
              border="0"
              cellspacing="0"
              cellpadding="0"
              class="w100 share"
              bgcolor="#FDFFF2"
              align="center"
              style="padding: 20px; border-top-left-radius: 16px; border-top-right-radius: 16px;">
              
              <tr>
                <td>
                  <img src="/assets/images/icon-twitter.png" width="29" height="29" alt="🐦" style="display: block; margin: auto;" class="hide-dark">
                  <img src="/assets/images/icon-twitter-dark.png" width="29" height="29" alt="🐦" style="display: none; margin: auto;" class="show-dark">
                </td>
              </tr>
              <tr>
                <td width="100%" align="center">
                  <span style="display: inline-block; font-family: Georgia, serif; font-size: 1.6875em; line-height: 1.2; font-weight: 700; text-align: center;
                      margin-top: 5px; margin-bottom: 5px;">
                    Difunde esta #bonilista</span>
                </td>
              </tr>
              <tr>
                <td height="4" align="center">
                  <span style="display: inline-block; height: 4px; width: 48px; background-color: #E44A4A; margin: auto;"></span>
                </td>
              </tr>
              <tr>
                <td height="20"></td>
              </tr>
              <tr>
                <td width="100%" align="center">
                  <span style="display: inline-block; font-size: 0.8125em; line-height: 1.2; font-weight: 700; text-transform: uppercase;
                      margin-top: 5px; margin-bottom: 5px; text-align: center;">
                    Comparte el tweet clicando sobre él:</span>
                </td>
              </tr>
              <tr>
                <td height="20"></td>
              </tr>
              <tr>
                <td class="tweet" mc:edit="tweet_block">
                  <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fbonilista.com&text=%BFPor%20qu%E9%20pudieron%20despedir%20a%20Sam%20Altman%3F%20Hoy%20hablaremos%20en%20la%20%23bonilista%20de%20la%20diferencia%20de%20funciones%20y%20responsabilidad%20%28a%20nivel%20legal%29%20entre%20un%20Consejo%20de%20Administraci%F3n%2C%20el%20CEO%20y%20%u201Cel%20due%F1o%u201D%20de%20una%20empresa.%20%uD83E%uDD21%20%BFA%FAn%20no%20te%20has%20suscrito%3F">
                    <table
                      role="presentation"
                      width="424"
                      border="0"
                      cellspacing="0"
                      cellpadding="0"
                      class="w100 tweet-table"
                      bgcolor="#fff"
                      align="center"
                      style="border: 1px solid #CECFC2; border-radius: 8px; text-align: left; padding: 20px;"
                      >
                      <tr>
                        <td width="40" valign="top">
                          <img src="/assets/images/bonilla-avatar.png" width="40" height="40" alt="🐦" style="display: block;" class="hide-dark">
                          <img src="/assets/images/bonilla-avatar-dark.png" width="40" height="40" alt="🐦" style="display: none;" class="show-dark">
                        </td>
                        <td>
                          <table border="0" cellspacing="0" cellpadding="0" style="padding-left: 15px;">
                            <tr>
                              <td style="color: inherit !important; font-weight: 400;">
                                <span style="font-weight: 700;">The muy ameisin Bonilista&nbsp;</span>
                                <span style="color: #9E9D93;">@bonilista</span>
                              </td>
                            </tr>
                            <tr>
                              <td style="color: inherit !important; font-weight: 400;">
                                <span class="tweet-text" style="display: inline-block; margin-top: 5px; line-height: 1.25;">¿Por
                                  qué pudieron despedir a Sam Altman? Hoy hablaremos en la
                                  <strong>#bonilista</strong>
                                  de la diferencia de funciones y responsabilidad (a nivel legal) entre un Consejo de Administración, el CEO y “el dueño”
                                  de una empresa. 🤡 ¿Aún no te has suscrito?
                                  <strong>bonilista.com</strong>
                                </span>
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </a>
                </td>
              </tr>
              <tr>
                <td height="20"></td>
              </tr>
              <tr>
                <td>
                  <table
                    role="presentation"
                    width="680"
                    border="0"
                    cellspacing="0"
                    cellpadding="0"
                    class="w100"
                    align="center"
                    style="border-top: 1px solid #CECFC2; border-bottom: 1px solid #CECFC2;">
                    <tr>
                      <td height="12"></td>
                    </tr>
                    <tr>
                      <td width="100%" align="center">
                        <span style="display: inline-block; text-align: center; max-width: 320px; font-size: 1.5em; line-height: 1.25;">
                          <strong>*|LIST:SUBSCRIBERS|* suscriptores</strong>
                          han recibido esta Bonilista.</span>
                      </td>
                    </tr>
                    <tr>
                      <td height="12"></td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table
              role="presentation"
              width="720"
              border="0"
              cellspacing="0"
              cellpadding="0"
              class="w100 tweet-link"
              bgcolor="white"
              align="center"
              style="border-top: 1px solid #CECFC2; border-bottom-left-radius: 16px; border-bottom-right-radius: 16px;">
              <tr>
                <td height="20"></td>
              </tr>
              <tr>
                <td width="100%" align="center">
                  <a
                    href="https://us2.campaign-archive.com/home/?u=374c664073e1a1fa3deca53b4&id=e67967d43f"
                    style="font-size: 1.5em; line-height: 1.25; text-align: center;">
                    Visita el archivo de la Bonilista
                  </a>
                </td>
              </tr>
              <tr>
                <td height="20"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="40"></td>
  </tr>
</table>