<table
  role="presentation"
  mc:hideable="true"
  width="752"
  border="0"
  cellspacing="0"
  cellpadding="0"
  class="w100"
  style="padding-left: 16px; padding-right: 16px;"
  >
  <tr>
    <td>
      <table
        role="presentation"
        width="720"
        border="0"
        cellspacing="0"
        cellpadding="0"
        class="w100 sponsor-block"
        bgcolor="#FFF"
        align="center"
        style="border: 1px solid #CECFC2; border-radius: 16px; text-align: center; padding: 30px;">
        <tr>
          <td>
            <img src="/assets/images/icon-ad.png" width="47" height="70" alt="⬇️" style="display: block; margin: auto;" class="hide-dark">
            <img src="/assets/images/icon-ad-dark.png" width="47" height="70" alt="⬇️" style="display: none; margin: auto;" class="show-dark">
          </td>
        </tr>
        <tr>
          <td>
            <span style="display: inline-block; font-size: 1.5em; line-height: 1.2; font-weight: 700; margin-top: 10px; margin-bottom:
                5px;">
              Patrocina la Bonilista</span>
          </td>
        </tr>
        <tr>
          <td>
            <span style="display: inline-block; font-size: 1.5em; line-height: 1.2; margin-bottom: 10px;">
              Te informaré sobre precios, disponibilidad y requisitos.</span>
          </td>
        </tr>
        <tr>
          <td>
            <a href="https://bonillaware.com/contacto" style="display: inline-block; font-size: 1.5em; line-height: 1.2;">
              ¡Escríbeme y hablamos!</a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="24"></td>
  </tr>
</table>