<!-- [if mso]> <style type="text/css">
    #madlok-wf1,
    #madlok-wf2,
    #madlok-wf3,
    #madlok-wf4,
    #madlok-wf5,
    #madlok-wf6 {
        width: 720px !important;
      }
    #madlok-archive-left-fix {
      width: 300px !important;
    }
</style> <![endif] -->
<style>
:root {
  color-scheme: light dark;
  supported-color-schemes: light dark;
}
/* Some resets and issue fixes */
img {
  max-width: 100%;
}
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
#outlook a {
  padding: 0;
}
body {
  width: 100% !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 16px;
}
blockquote {
  border-left: 8px solid #ec4899;
  padding-left: 1em;
  margin-left: 0;
}
blockquote p {
  font-style: italic;
  font-family: monospace;
  font-size: 0.8em;
}
.ReadMsgBody {
  width: 100%;
}
.ExternalClass {
  width: 100%;
}
.backgroundTable {
  margin: 0 auto;
  padding: 0;
  width: 100% !important;
}
table td {
  border-collapse: collapse;
}
table,
td {
  mso-table-lspace: 0 !important;
  mso-table-rspace: 0 !important;
}
.ExternalClass * {
  line-height: 115%;
}
/* End reset */
/* Base */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.12;
  margin-top: 1.25em;
  margin-bottom: 0.75em;
  padding-top: 20px;
}
ol,
ul {
  padding-left: 2em;
}
body {
  color: #252321;
  background-color: #ede6f3;
}
body,
p {
  font-family: Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
p {
  margin-top: 0;
}
strong {
  font-weight: 700;
}
em {
  font-style: italic;
}
a {
  font-weight: 700;
  color: #ec4899;
  text-decoration: none;
}
a:hover {
  color: #c04f88 !important;
}
a:active {
  color: #c04f88 !important;
}
ol {
  margin-bottom: 1.5em;
}
ul {
  margin-bottom: 1.5em;
}
li {
  margin-bottom: 0.5em;
}
ul li::marker,
ol li::marker {
  color: #ec4899;
}

.serif {
  font-family: Georgia, serif;
}
.wrapper-table {
  background-color: #F1F3E6;
  font-size: 16px;
}
.sponsor-title {
  display: block;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.625em;
  font-family: 'Roboto', Tahoma, sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #778F93;
}
.article__body {
  font-size: 1.5em;
  line-height: 1.5;
}
.article__body img {
  max-width: 100%;
  height: auto !important;
}
.article__header2 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.12;
  margin-bottom: 0.75em;
}
.article__header3 {
  font-family: Georgia, serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.12;
  margin-bottom: 0.75em;
}
.sponsor__button a {
  color: white !important;
}
.sponsor__button {
  color: white !important;
}
.sponsor__button-inner {
  color: white !important;
}
.sponsor__button-inner:hover {
  color: white !important;
  background-color: #c04f88 !important;
}
.sponsor__link a,
.sponsor__link a:hover,
.sponsor__link a:active {
  text-decoration: none !important;
  color: inherit !important;
  font-weight: inherit !important;
}
.sponsor__link-visible a {
  font-weight: inherit !important;
  color: #01737F !important;
  border-bottom: 1px dotted;
}
.sponsor__link-visible a:hover,
.sponsor__link-visible a:active {
  text-decoration: none !important;
  border-bottom-color: transparent !important;
  color: #23AEB4 !important;
}
.tweet a{
  color: inherit !important;
}
.tweet-text strong {
  color: #ec4899 !important;
}

.guest-twitter {
  color: #FFF;
}

.guest-twitter a{
  color: #FFF !important;
}

@media screen and (max-width: 720px) {
  .cover-small {
    display: block !important;
  }
  .cover-medium {
    display: none !important;
  }
}

/* These are our tablet/medium screen media queries */
@media screen and (max-width: 752px) {
  /* Display block allows us to stack elements */
  .mobile-column {
    display: block;
  }
  /* Some more stacking elements */
  .mob-column {
    float: none !important;
    width: 100% !important;
  }
  /* Hide stuff */
  .hide {
    display: none !important;
  }
  /* Show stuff */
  .show {
    display: block !important;
  }
  .display-table {
    display: table !important;
  }
  /* This sets elements to 100% width and fixes the height issues too, a god send */
  .w100 {
    width: 100% !important;
    height: auto !important;
  }
  .w50 {
    width: 50% !important;
    height: auto !important;
  }
  /* For the 2x2 stack */
  .condensed {
    padding-bottom: 40px !important;
    display: block;
  }
  /* Centers content on mobile */
  .center {
    text-align: center !important;
    width: 100% !important;
    height: auto !important;
  }
  /* w100ercent width section with 20px padding */
  .w100ad {
    width: 100% !important;
    padding: 20px;
  }
  /* w100ercent width section with 20px padding left & right */
  .w100adleftright {
    width: 100% !important;
    padding: 0 20px;
  }
  /* w100ercent width section with 20px padding top & bottom */
  .w100adtopbottom {
    width: 100% !important;
    padding: 20px 0;
  }
  /* Element responsive fixes */
  .header-partner-container {
    width: 40% !important;
    margin-bottom: 24px;
  }
  .header-partner {
    width: 100% !important;
  }
  .article__body {
    font-size: 1.1875em !important;
    line-height: 1.5;
  }
  .quote {
    font-size: 1em !important;
  }
  
  .guest-name {
    font-size: 1.6875em !important;
  }
  .guest-bio {
    font-size: 1em !important;
  }
  .partner-claim {
    font-size: 1em !important;
  }
}
/* Wide screen font-size tweaks */
@media screen and (min-width: 1100px) {
  .wide-screen-zoom {
    font-size: 20px;
  }
  .wide-screen-reset {
    font-size: 16px;
  }
  .cover-medium {
    display: none !important;
  }
  .cover-full {
    display: block !important;
  }
}

/* Dark mode fixes */
@media (prefers-color-scheme: dark) {
  .wrapper-table {
    background-color: #000 !important;
  }
  .main-content {
    color: #F1F3E6 !important;
  }
  .main-content * {
    color: #F1F3E6;
  }
  .body-color {
    color: #F1F3E6 !important;
  }
  .body-color * {
    color: #F1F3E6;
  }
  a {
  font-weight: 700;
  color: #ec4899 !important;
  text-decoration: none;
  }
  a:hover {
    color: #c04f88 !important;
  }
  a:active {
    color: #c04f88 !important;
  }
  .hide-dark {
    display: none !important;
  }
  .show-dark {
    display: block !important;
  }
  .article-image {
    background-color: #0D0C0B !important;
  }
  .share {
    background-color: #191816;
    color: #F1F3E6;
  }
  .tweet-table {
    background-color: #191816;
    color: #F1F3E6;
  }
  .tweet-link {
    background-color: #0D0C0B;
  }
  .sponsor-block {
    background-color: #191816;
    color: #F1F3E6;
  }
}

/* Hey.com specific fixes */
.__body .halo {
  display: none !important;
}
.__body .halo-alt {
  display: table !important;
}
</style>