<table role="presentation" width="720" border="0" cellspacing="0" cellpadding="0" class="w100" mc:hideable="true">
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td>
      <table role="presentation" width="720" border="0" cellspacing="0" cellpadding="0" class="w100">
        <tr>
          <td align="center" bgcolor="#252321"
            style="color: #F1F3E6 !important; padding: 20px 20px 0; border-top-left-radius: 16px; border-top-right-radius: 16px;">
            <img src="/assets/images/sponsor-image-video.jpg" alt="" style="display: block;" mc:edit="offer_image">                  
          </td>
        </tr>
        <tr>
          <td
            bgcolor="#252321"
            style="color: #F1F3E6 !important; padding: 20px; border-bottom-left-radius: 16px; border-bottom-right-radius: 16px;">
            <table>
              <tr>
                <td colspan="2">
                  <p
                    style="font-family: Georgia, serif; font-weight: 400; font-size: 1.5em; line-height: 1.12; margin-top: 0; margin-bottom:
                      0.5em;"
                    mc:edit="offer_title">Administrador/a de base de datos</p>
                  <p style="font-weight: 400; line-height: 1.25; display: inline-block;" mc:edit="offer_text">
                    Están metidos en un proyecto que va a cambiar la forma de trabajar de todo el
                    <a href="#">equipo de tecnología</a>, donde la formación va a jugar un papel muy importante. Necesitan a personas como
                      tú, con experiencia en administración de bases de datos, que les ayuden a llevarlo a cabo. ¡Vamos allá!</p>
                </td>
              </tr>
              <tr>
                <td colspan="2">
                  <span style="text-transform: uppercase; font-size: 0.666em; font-weight: 700; color: #9E9D93;">Algunas características</span>
                </td>
              </tr>
              <tr>
                <td height="1" colspan="2">
                  <div style="border-top: 1px solid #6E6C65;"></div>
                </td>
              </tr>
              <tr>
                <td height="5" colspan="2"></td>
              </tr>
              <tr>
                <td valign="middle">
                  <table align="left" valign="middle" class="w100 center">
                    <tr>
                      <td valign="middle" align="left">
                        <img
                          src="/assets/images/icon-salary.png"
                          width="30"
                          height="24"
                          alt="💰"
                          style="margin-right: 5px; vertical-align: middle;">
                          <span style="font-weight: 700;" mc:edit="offer_salary">€40 - 43K (+4K de variable)</span>
                      </td>
                    </tr>
                    <tr>
                      <td valign="middle" align="left">
                        <img
                          src="/assets/images/icon-location.png"
                          width="24"
                          alt="📍"
                          style="margin-right: 5px; vertical-align: middle;">
                          <span style="font-weight: 700;" mc:edit="offer_location">A Coruña + 40% REMOTO</span>
                      </td>
                    </tr>
                  </table> 
                  <table class="show">
                    <tr>
                      <td height="10"></td>
                    </tr>
                  </table>        
                  <table align="right" valign="middle">
                    <tr>
                      <td class="sponsor__button">  
                        <span style="display: inline-block; background-color: #E44A4A; padding: 13px 32px 16px; border-radius: 100px; color: white !important; font-size: 0.8em;" class="sponsor__button-inner" mc:edit="offer_link_video" mc:hideable="true">
                          <img src="/assets/images/icon-youtube.png" width="24" alt="🎥" style="margin-right: 5px; vertical-align: middle;">
                          <span style="line-height: 1;">Ver video</span>
                        </span>
                        <span style="display: inline-block; background-color: #E44A4A; padding: 13px 32px 16px; border-radius: 100px; color: white !important; font-size: 0.8em;" class="sponsor__button-inner" mc:edit="offer_link_info" mc:hideable="true">
                          <img src="/assets/images/icon-info.png" width="24" alt="ℹ️" style="margin-right: 5px; vertical-align: middle;">
                          <span style="line-height: 1;">Más informacion</span>
                        </span>
                      </td>
                    </tr>
                  </table> 
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="40"></td>
  </tr>
</table>