<table role="presentation" width="720" border="0" cellspacing="0" cellpadding="0" class="w100" mc:hideable="true">
  <tr>
    <td height="12"></td>
  </tr>
  <tr>
    <td valign="top" height="8px" style="background-color: #CECFC2;"></td>
  </tr>
  <tr>
    <td height="40"></td>
  </tr>
  <tr>
    <td height="40" valign="top">
      <img src="/assets/images/comillas.png" width="50" alt="💬" class="quote__image">
    </td>
  </tr>
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td valign="top">
      <p
        class="serif quote"
        style="font-style: italic; font-weight: 300; font-size: 1.25em; line-height: 1.12; margin-bottom: 0;"
        mc:edit="article_quote_2">Cuando David me propuso escribir para la Bonilista, sentí un poco de vértigo. Es una gran
        responsabilidad. Por ello, decidí hablar de algo que para mí es un gran reto, y que me encanta: la comunicación dentro
        del proceso de gestión del cambio en las organizaciones.
      </p>
    </td>
  </tr>
  <tr>
    <td height="40"></td>
  </tr>
  <tr>
    <td valign="top" height="1px" style="background-color: #CECFC2;"></td>
  </tr>
  <tr>
    <td height="40"></td>
  </tr>
</table>