<table role="presentation" width="720" border="0" cellspacing="0" cellpadding="0" class="w100" mc:hideable="true">
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td>
      <table
        role="presentation"
        width="720"
        border="0"
        cellspacing="0"
        cellpadding="0"
        class="w100 article-image"
        bgcolor="white"
        style="background-color: white; border: 1px solid #CECFC2;">
        <tr>
          <td>
            <table role="presentation" width="720" border="0" cellspacing="0" cellpadding="20" class="w100 article-image" bgcolor="white">
              <tr>
                <td>
                  <img src="/assets/images/article_image.jpg" mc:edit="article_image" width="100%" alt="" style="display: block;">
                </td>
              </tr>
            </table>
          </td>
        </tr>
        <tr mc:hideable="true">
          <td bgcolor="white" style="padding: 0 20px;" class="article-image">
            <span
              style="font-size: 0.66em; font-weight: 400; line-height: 1.25; display: inline-block;"
              mc:edit="article_image_footer">Interfaces de
              <a href="#">ChatGPT</a>
              (OpenAI) que podemos ver desarrolladas en la nueva versión GPT-4 que viene con nuevas e interesantes
              funcionalidades.</span>
          </td>
        </tr>
        <tr>
          <td height="20"></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="40"></td>
  </tr>
</table>