<table role="presentation" width="720" border="0" style="border-collapse: collapse;" cellspacing="0" cellpadding="0" class="w100" mc:hideable="true">
  <tr>
    <td height="20"></td>
  </tr>
  <tr>
    <td>
      <table role="presentation" width="720" border="0" cellspacing="0" cellpadding="0" class="w100">
        <tr>
          <td align="center" bgcolor="#252321"
            style="color: #F1F3E6 !important; padding: 20px 20px 0; border-top-left-radius: 16px; border-top-right-radius: 16px;">
            <img src="/assets/images/sponsor-image-video.jpg" alt="" style="display: block;" mc:edit="sponsor_image">                  
          </td>
        </tr>
        <tr>
          <td
            bgcolor="#252321"
            style="color: #F1F3E6 !important; padding: 20px; border-bottom-left-radius: 16px; border-bottom-right-radius: 16px;">
            <table>
              <tr>
                <td colspan="2">
                  <p
                    style="color: #F1F3E6 !important; font-family: Georgia, serif; font-weight: 400; font-size: 1.5em; line-height: 1.12; margin-top: 0; margin-bottom:
                      0.5em;"
                    mc:edit="sponsor_title">Saca provecho a la IA para mejorar tus stand-ups y flujos de trabajo</p>
                  <p style="color: #F1F3E6 !important; font-weight: 400; line-height: 1.25; display: inline-block;" mc:edit="sponsor_text">
                    Te explico en un pequeño vídeo cómo hacer de tu chat un mejor lugar de trabajo con las mejores prácticas para stand-ups
                    diarios, reportes, flujos de trabajo impulsados por IA y más.</p>
                </td>
              </tr>
              <tr>
                <td height="1" colspan="2">
                  <div style="border-top: 1px solid #6E6C65;"></div>
                </td>
              </tr>
              <tr>
                <td height="10" colspan="2"></td>
              </tr>
              <tr>
                <td valign="middle">
                  <table align="left" valign="middle" mc:hideable="true">
                    <tr>
                      <td width="29">
                        <img
                          src="/assets/images/icon-clock-dark.png"
                          width="24"
                          height="24"
                          alt="⏱️"
                          style="display: block; margin-right: 5px; vertical-align: middle;">
                      </td>
                      <td style="color: #9E9D93;"><span class="hide">Visionado: </span><span style="font-weight: 700;" mc:edit="sponsor_video_time">5 min.</span></td>         
                    </tr>
                  </table>         
                  <table align="right" valign="middle">
                    <tr>
                      <td class="sponsor__button">  
                        <span style="display: inline-block; background-color: #E44A4A; padding: 13px 32px 16px; border-radius: 100px; color: white !important; font-size: 0.8em;" class="sponsor__button-inner" mc:edit="sponsor_link_video" mc:hideable="true">
                          <img src="/assets/images/icon-youtube.png" width="24" alt="🎥" style="margin-right: 5px; vertical-align: middle;">
                          <span style="line-height: 1;">Ver video</span>
                        </span>
                        <span style="display: inline-block; background-color: #E44A4A; padding: 13px 32px 16px; border-radius: 100px; color: white !important; font-size: 0.8em;" class="sponsor__button-inner" mc:edit="sponsor_link_info" mc:hideable="true">
                          <img src="/assets/images/icon-info.png" width="24" alt="ℹ️" style="margin-right: 5px; vertical-align: middle;">
                          <span style="line-height: 1;">Más informacion</span>
                        </span>
                      </td>
                    </tr>
                  </table> 
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="40"></td>
  </tr>
</table>