<table role="presentation" width="100%" bgcolor="#E44A4A" style="width: 100%; background-color: #E44A4A; color: #FFF;" cellspacing="0" cellpadding="0" mc:hideable="true">
  <tr>
    <td height="30px"></td>
  </tr>
  <tr>
    <td>
      <table
        role="presentation"
        align="center"
        valign="middle"
        cellspacing="0"
        cellpadding="0"
        width="100%"
        style="padding-left: 16px; padding-right: 16px;">
        <tr>
          <td>
            <span style="display: block; width: 100%; height: 1px; border-top: 1px solid #F1F3E6;"></span>
          </td>
          <td width="275" class="header-partner" align="center" valign="middle">
            <span style="display: inline-block; height: auto; padding-left: 20px; padding-right: 20px; overflow: hidden; text-transform: uppercase; font-size: 16px; font-weight: 700;">
              Hoy con firma invitada
            </span>
          </td>
          <td>
            <span style="display: block; width: 100%; height: 1px; border-top: 1px solid #F1F3E6;"></span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="20px"></td>
  </tr>
  <tr>
    <td
      align="center"
      style="padding-left: 16px; padding-right: 16px; color: #FFF; line-height: 1.25;">
      <table width="688" role="presentation" align="center" valign="middle" border="0" cellspacing="0" cellpadding="0" class="w100">
        <tr>
          <td width="50" align="left">
            <img src="/assets/images/laurel-left.png" width="44" alt="">
          </td>
          <td style="text-align: center;">
            <span class="serif guest-name" style="font-size: 2.25em">
              <span mc:edit="guest_name">Jose Luis Vallejo</span>
            </span>
            <br>
            <span style="font-size: 1.25em; line-height: 1.25;" class="guest-bio">
              <span mc:edit="guest_bio">Ingeniero de Telecomunicaciones y empresario extremeño</span>
            </span>            
          </td>
          <td width="50" align="right">
            <img src="/assets/images/laurel-right.png" width="44" alt="">
          </td>
        </tr>
      </table>  
    </td>
  </tr>
  <tr>
    <td height="10px"></td>
  </tr>
  <tr>
    <td align="center" mc:hideable="true">
      <span style="display: inline-block; background-color: #252321; padding: 8px 20px 8px; border-radius: 100px; color: #F1F3E6 !important; font-size: 1.25em;" class="sponsor__button-inner">
        <img src="/assets/images/icon-twitter-guest.png" width="24" alt="🐦" style="margin-right: 5px; vertical-align: middle;">
        <span style="line-height: 1;" mc:edit="guest_twitter" class="guest-twitter">jvallejo</span>
      </span>
    </td>
  </tr>
  <tr>
    <td height="30px"></td>
  </tr>
</table>
