<table
  role="presentation"
  class="halo-alt"
  width="100%"
  border="0"
  cellspacing="0"
  cellpadding="0"
  valign="bottom"
  style="display: none;"
  bgcolor="#F1F3E6">
  <tr>
    <td width="100%" height="35" bgcolor="#F1F3E6"></td>
  </tr>
</table>
<table
  role="presentation"
  class="halo"
  width="100%"
  border="0"
  cellspacing="0"
  cellpadding="0"
  valign="bottom"
  style="mso-hide:all;">
  <tr>
    <td align="left">
      <img src="/assets/images/halo-back.png" style="display:block;" width="100%" height="24" alt="" class="hide">
    </td>
    <td align="center" width="600" class="w100">
      <img src="/assets/images/halo.png" width="600" height="24" alt="" class="w100" style="display:block;">
    </td>
    <td align="right">
      <img src="/assets/images/halo-back.png" style="display:block;" width="100%" height="24" alt="" class="hide">
    </td>
  </tr>
</table>