<table role="presentation" width="100%" style="width: 100%; color: #F1F3E6; background-color: #252321; border-collapse: collapse;" bgcolor="#252321" cellspacing="0" cellpadding="0">
  <tr>
    <td height="8px" bgcolor="#E44A4A" align="center" style="background-color: #E44A4A;"></td>
  </tr>
  <tr>
    <td width="600" valign="top" align="center" id="madlok-wf4">
      <table role="presentation" align="center" cellspacing="0" cellpadding="0">
        <tr>
          <td
            bgcolor="#E44A4A"
            align="center"
            style="background-color: #E44A4A; color: white; padding-left: 20px; padding-right: 20px; padding-bottom: 10px;
              text-transform: uppercase; font-size: 0.83125em; font-weight: 700; line-height: 1.25; border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px; text-align: center;">
            Patrocinada por</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="31px"></td>
  </tr>
  <tr>
    <td>
      <table
        role="presentation"
        align="center"
        valign="middle"
        cellspacing="0"
        cellpadding="0"
        width="100%"
        style="padding-left: 16px; padding-right: 16px;">
        <tr>
          <td>
            <span style="display: block; width: 100%; height: 1px; border-top: 1px solid #6E6C65;"></span>
          </td>
          <td width="225" class="header-partner" align="center" valign="middle">
            <span style="display: inline-block; max-width: 225px; height: auto; padding-left: 20px; padding-right: 20px; overflow: hidden">
              <img src="/assets/images/logo-dailybot.png" width="195" alt="DailyBot" mc:edit="partner_logo">
            </span>
          </td>
          <td>
            <span style="display: block; width: 100%; height: 1px; border-top: 1px solid #6E6C65;"></span>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="20px"></td>
  </tr>
  <tr>
    <td
      align="center"
      style="padding-left: 16px; padding-right: 16px; color: #F1F3E6; font-weight: 700; line-height: 1.25; font-size: 1.25em;"
      mc:edit="partner_claim">
      <table width="688" align="center" valign="middle" cellspacing="0" cellpadding="0"class="w100">
        <tr>
          <td style="text-align: center; color: #F1F3E6; font-weight: 700; line-height: 1.25; font-size: 1.25em;" class="partner-claim" mc:edit="partner_claim">
            Saca provecho a la IA para mejorar tus stand-ups y flujos de trabajo
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td height="60px"></td>
  </tr>
</table>