<table
  role="presentation"
  width="100%"
  height="40"
  border="0"
  cellspacing="0"
  cellpadding="0"
  bgcolor="#ffc103"
  align="center"
  valign="middle">
  <tr align="center" valign="middle">
    <td align="center" valign="middle" bgcolor="#ffc103" style="text-align: center;">
      <img
        src="/assets/images/icon-envelope-open.png"
        width="20"
        height="20"
        alt="✉️"
        style="margin-right: 5px; vertical-align: middle;">
      <a href="*|ARCHIVE|*" style="color: black !important; text-decoration: none; font-weight: 700; font-size: 0.833em;">
        View in Browser</a>
    </td>
  </tr>
</table>