{% include "./layout_top.njk" %}
<table role="presentation" width="100%" cellspacing="0" cellpadding="0" class="w100">
  <tr>
    <td align="center">
      {% include "../header/header.njk" %}
    </td>
  </tr>
</table>
{% include "../header/halo.njk" %}
<table role="presentation" width="100%" cellspacing="0" cellpadding="0" class="w100">
  <tr>
    <td align="center">
      <table role="presentation" width="632" cellspacing="0" cellpadding="16" class="w100 main-content">
        {% include "../content/body.njk" %}
      </table>
    </td>
  </tr>
</table>
<table role="presentation" width="720" cellspacing="0" cellpadding="0" class="w100">
  <tr>
    <td>
      {% include "../content/share.njk" %}
    </td>
  </tr>
</table>
<table role="presentation" width="720" cellspacing="0" cellpadding="0" class="w100">
  <tr>
    <td>
      {% include "../content/sponsor.njk" %}
    </td>
  </tr>
</table>
<table role="presentation" width="100%" cellspacing="0" cellpadding="0" class="w100">
  <tr>
    <td align="center">
      {% include "../footer/footer.njk" %}
    </td>
  </tr>
</table>
{% include "./layout_bottom.njk" %}